<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.preexam">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreExam"
        tools:targetApi="31">
        <activity
            android:name=".Islosgact"
            android:exported="false" />
        <activity
            android:name=".Syntwave2"
            android:exported="false" />
        <activity
            android:name=".orfeyanalizeact"
            android:exported="false" />
        <activity
            android:name=".punctuationact"
            android:exported="false" />
        <activity
            android:name=".SyntWaveAnalyse"
            android:exported="false" />
        <activity
            android:name=".circulusact"
            android:exported="false" />
        <activity
            android:name=".fourangelsact"
            android:exported="false" />
        <activity
            android:name=".theorTrianact"
            android:exported="false" />
        <activity
            android:name=".GeomStGeoInf"
            android:exported="false" />
        <activity
            android:name=".circuleactivity"
            android:exported="false" />
        <activity
            android:name=".paractivity"
            android:exported="false" />
        <activity
            android:name=".triuggeomactivity"
            android:exported="false" />
        <activity
            android:name=".tapactivity"
            android:exported="false" />
        <activity
            android:name=".Rowsactivity"
            android:exported="false" />
        <activity
            android:name=".Equalsactivity"
            android:exported="false" />
        <activity
            android:name=".Degreeeactivity"
            android:exported="false" />
        <activity
            android:name=".functionactivity"
            android:exported="false" />
        <activity
            android:name=".rootsactivity"
            android:exported="false" />
        <activity
            android:name=".Probability"
            android:exported="false" />
        <activity
            android:name=".ExpandedPart"
            android:exported="false" />
        <activity
            android:name=".TestPart"
            android:exported="false" />
        <activity
            android:name=".Ruslang"
            android:exported="false" />
        <activity
            android:name=".theoremGeom"
            android:exported="false" />
        <activity
            android:name=".geometryformules"
            android:exported="false" />
        <activity
            android:name=".geometry"
            android:exported="false" />
        <activity
            android:name=".Mainformules"
            android:exported="false" />
        <activity
            android:name=".TheoryAlgebra"
            android:exported="false" />
        <activity
            android:name=".math1"
            android:exported="false" />
        <activity
            android:name=".Choosetime"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>